@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    overflow: hidden;
    animation: fadein 0.5s;
}

a {
    color: #b71c1c;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: #e13e3e;
    text-decoration: underline;
}

md-input-container .hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; 
}

md-toolbar, #titleBar {
    -webkit-user-select: none;
    user-select: none; 
    cursor: default;
}

md-toast.md-default-theme .md-toast-content, md-toast .md-toast-content {
    background-color: #b71c1c;
    color: #ffffff;
}

md-tooltip.md-panel.md-tooltip.md-default-theme, md-tooltip.md-panel.md-tooltip {
    margin-top: 10px;
    background: #171717;
    color: #fafafa;
}

.copyright {
    font-size: 10px;
    opacity: 0.6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wide-input {
    width: 220px;
}

.md-toolbar-tools {
    position: relative;
}

@media (max-width: 959px) {
    .md-toolbar-tools {
        height: 64px;
        max-height: 64px;
    }
}

.md-toolbar-tools h1.flex {
    margin-top: -80px;
    margin-left: -8px;
    margin-right: 115px;
}

#toolbar-btns {
    position: absolute;
    top: -35px;
    right: 140px;
}

sync-browser-window  {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: -50px;
    z-index: 50;
}

sync-browser-window .url-bar {
    flex: 0;
}

sync-browser-window .url-bar form {
    position: relative;
    -webkit-app-region: no-drag;
    margin-right: 30px;
    min-width: 0;
}

sync-browser-window .url-bar .url {
    display: flex;
}

sync-browser-window .url-bar form .title {
    font-size: 12px;
    margin-left: 8px;
    color: #dadada;
    line-height: 12px;
    height: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

sync-browser-window .options {
    position: absolute;
    top: 12px;
    right: -42px;
}

sync-browser-window .options .material-icons {
    font-size: 22px;
}

sync-browser-window input {
    flex: 1 0;
    background-color: #5b0e0e;
    color: #bababa;
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    margin-right: 0;
    font-size: 14px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    transition:all 0.3s ease;
}

sync-browser-window md-progress-circular {
    position: absolute;
    right: 7px;
    top: 23px;
}

sync-browser-window input:hover {
    background-color: #6d1010;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}

sync-browser-window input:focus {
    background-color: #efefef;
    color: #202020;
}

sync-browser-window .webview-container {
    display: flex;
}

sync-browser-window webview {
    flex: 1;
}

#browser-holder {
    flex: 1;
}

sync-browser-window .status-bar {
    position: absolute;
    bottom: 0;
    background-color: #fafafa;
    border: 1px solid #eaeaea;
    color: #444;
    font-size: 12px;
    padding: 4px;
    cursor: default;
    user-select: none;
    opacity: 1;
    transition: opacity .25s ease-in-out;
}

sync-browser-window .status-bar.ng-hide {
    opacity: 0;
}

#setDomainDialog {
    min-width: 300px;
}
#setDomainDialog md-input-container {
    margin: 0;
    width: 100%;
}
#setDomainDialog md-input-container .md-errors-spacer {
    display: none;
}

#cookieEditorDialog md-card md-card-title {
    flex: 0 auto;
}

#cookieEditorDialog .col-edit button {
    padding: 0;
    margin: 0;
}

#cookieEditorDialog .col-edit button i {
    font-size: 18px;
}

#cookieEditorDialog table {
    border-collapse: collapse;
    border-style: hidden;
}

#cookieEditorDialog table td, #cookieEditorDialog table th {
    border: 1px solid #666666;
    padding: 10px;
}


#cookieEditorDialog td.col-edit {
    text-align: right;
    padding: 0;
}