<md-dialog aria-label="Set Domain" id="cookieEditorDialog">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Cookies Editor</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div flex layout="row">
                    <md-card md-theme="dark-grey">
                        <md-card-title>
                            <md-card-title-text>
                                <div layout="row" layout-align="end center">
                                    <span class="md-headline" flex>Left Window</span>
                                    <md-button class="md-icon-button" aria-label="Delete Cookie" ng-click="createCookie($event, 'left')">
                                        <i class="material-icons edit-icon">add</i>
                                    </md-button>
                                    <md-button class="md-icon-button" aria-label="Delete Cookie" ng-click="deleteAllCookies('left')">
                                        <i class="material-icons edit-icon">delete</i>
                                    </md-button>
                                </div>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <table>
                                <tr ng-repeat="cookie in cookies.left">
                                    <td>{{cookie.name}}</td>
                                    <td>{{cookie.value}}</td>
                                    <td class="col-edit">
                                        <md-button class="md-icon-button" aria-label="Edit Cookie" ng-click="editCookie($event, 'left', cookie)">
                                            <i class="material-icons edit-icon">edit</i>
                                        </md-button>
                                        <md-button class="md-icon-button" aria-label="Delete Cookie" ng-click="deleteCookie('left', cookie)">
                                            <i class="material-icons edit-icon">delete</i>
                                        </md-button>
                                    </td>
                                </tr>
                            </table>
                            <div ng-show="!cookies.left || cookies.left.length === 0"><i>There is no cookie</i>&nbsp;😢</div>
                        </md-card-content>
                    </md-card>
                    <md-card md-theme="dark-grey">
                        <md-card-title>
                            <md-card-title-text>
                                <div layout="row" layout-align="end center">
                                    <span class="md-headline" flex>Right Window</span>
                                    <md-button class="md-icon-button" aria-label="Delete Cookie" ng-click="createCookie($event, 'right')">
                                        <i class="material-icons edit-icon">add</i>
                                    </md-button>
                                    <md-button class="md-icon-button" aria-label="Delete Cookie" ng-click="deleteAllCookies('right')">
                                        <i class="material-icons edit-icon">delete</i>
                                    </md-button>
                                </div>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <table>
                                <tr ng-repeat="cookie in cookies.right">
                                    <td>{{cookie.name}}</td>
                                    <td>{{cookie.value}}</td>
                                    <td class="col-edit">
                                        <md-button class="md-icon-button" aria-label="Edit Cookie" ng-click="editCookie($event, 'right', cookie)">
                                            <i class="material-icons edit-icon">edit</i>
                                        </md-button>
                                        <md-button class="md-icon-button" aria-label="Delete Cookie" ng-click="deleteCookie('right', cookie)">
                                            <i class="material-icons edit-icon">delete</i>
                                        </md-button>
                                    </td>
                                </tr>
                            </table>
                            <div ng-show="!cookies.right || cookies.right.length === 0"><i>There is no cookie</i>&nbsp;😢</div>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Close
            </md-button>
            <md-button ng-click="refresh()" class="md-accent">
                Refresh
            </md-button>
        </md-dialog-actions>
    </form>
  </md-dialog>