<!DOCTYPE html>
<html ng-app="browsersync" ng-controller="indexController">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Browser Sync</title>
        
        <link rel="stylesheet" href="../node_modules/angular-material/angular-material.min.css"/>
        <link rel="stylesheet" href="css/titlebarWin.css"/>
        <link rel="stylesheet" href="css/style.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--<link rel="stylesheet" type="text/less" href="../less/main.less" />-->
    </head>
    <body ng-cloak layout="column">
        <div id="titleBar">
            <div class="titlebar" ng-dblclick="windowMaximize()" ng-include="'titlebarControlsWin.html'"></div>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h1 flex md-truncate>
                        Browser Sync
                    </h1>

                    <div id="toolbar-btns">
                        <md-button class="md-icon-button" aria-label="Cookie Editor" ng-click="showCookieEditor($event)" ng-mousedown="$event.stopPropagation();">
                            <md-tooltip md-direction="bottom">Cookie Editor</md-tooltip>
                            <i class="material-icons">blur_circular</i>
                        </md-button>
                        <md-button class="md-icon-button md-accent md-hue-2" aria-label="New update available" ng-click="showUpdateDialog($event)" ng-if="isUpdateAvailable" ng-mousedown="$event.stopPropagation();">
                            <md-tooltip md-direction="bottom">A new update is ready to be installed</md-tooltip>
                            <i class="material-icons">announcement</i>
                        </md-button>
                    </div>
                </div>
            </md-toolbar>
        </div>

        <div layout="row" id="browser-holder">
            <sync-browser-window domain="settings.domain_left" side="left"></sync-browser-window>
            <sync-browser-window domain="settings.domain_right" side="right"></sync-browser-window>
        </div>
    </body>
    <script src="index.js"></script>
</html>