<md-dialog aria-label="Set Domain" id="setDomainDialog">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Set Domain</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" ng-disabled="btnDisabled">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container md-no-float>
                    <input placeholder="example.com" ng-model="newDomain" ng-disabled="btnDisabled">
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" ng-disabled="btnDisabled">
                Cancel
            </md-button>
            <md-button ng-click="confirm()" ng-disabled="btnDisabled" class="md-accent">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
  </md-dialog>